@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Major Mono Display', monospace;
}
body
{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #b33b;
}
 .container
 {
    display: flex;
    transform-style: preserve-3d;
    gap: 40px;
    transform: rotateY(30deg) rotateX(10deg);
 }
 .container .text
 {
     position: relative;
     width: 100px;
     height: 100px;
     transform-style: preserve-3d;
     transition: 2.5s ease-in-out;
     transition-delay: calc(0.25s * var(--j));
 }
 .container:hover .text
 {
     transform: rotateX(-360deg);
 }
 .container:hover .text:last-child
 {
     transform: rotateX(630deg);
 }
.container .text::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    background: #399B;
    transform-origin: left;
    transform: rotateY(90deg) translateX(-50px);
}
.container .text:last-child::before
{
    background: #299d;
}

.container .text span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#3988,#360);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: #fff;
    transform-style: preserve-3d;
    transform: rotateX(calc(90deg * var(--i))) translateZ(50px);
}
.container .text:last-child span
{
    background: linear-gradient(#29c040 ,#32ed4e);
    color: #3b7b;
}